@import url(https://fonts.googleapis.com/css?family=Jura:700);

* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
/*First animation state, content somewhere on the right*/
#container-first {
    transition-duration: 500ms;
    top: 455px;
    left: 2000px;
    position: absolute;
    width: 1920px;
    height: 150px;
    background: rgba(0, 0, 0, 0.75);
}

#container-second {
    transition-duration: 500ms;
    top: 455px;
    left: 0;
    position: absolute;
    width: 1920px;
    height: 150px;
    background: rgba(0, 0, 0, 0.75);
}

#container-final {
    transition-duration: 500ms;
    top: 0;
    left: 0;
    position: absolute;
    width: 1920px;
    height: 1080px;
    background: rgba(0, 0, 0, 0.75);
}


/*Content line first state*/

#bg-line-first {
    position: absolute;
    width: 1920px;
    height: 150px;
    left: 0;
    top: 0;
    transition-duration: 500ms;
    background: rgba(0, 0, 0, 0.75);
}

#bg-line-second {
    position: absolute;
    width: 1920px;
    height: 150px;
    transition-duration: 500ms;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.75);
}

#bg-line-final {
    position: absolute;
    width: 1920px;
    height: 150px;
    transition-duration: 500ms;
    left: 0;
    top: 455px;
    background: rgba(0, 0, 0, 0.75);
}

#quote {
    z-index: 4;
    position: relative;
    width: auto;
    height: auto;
    text-align: right;
    margin-right: 50%;
    top: 25%;
    font-family: 'Jura', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #f9b8f5;
    transition-duration: 500ms;
}
/*960px - center*/
#line {
    z-index: 1;
    position: absolute;
    width: 130px;
    height:1px;
    left: 1900px;
    top: 75px;
    border: 1px solid #f9b8f5;
    background-color: #f9b8f5;
    transform: rotate(90deg);
    animation-name: lineAnimation;
    animation-delay: 900ms;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

.fandeInLetters {
    animation-name: fadeIn;
    animation-duration: 3s;
}

.opacityZero {
    opacity: 0;
    transition-duration: 200ms;
}

.opacityOne {
    opacity: 1;
    transition-duration: 200ms;
}

.icon {
    transform: translateY(0);
    animation-delay: 630ms;
    animation-name: svgAnimation;
    animation-duration: 500ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes svgAnimation {
   0% {
       transform: translateY(0);
   }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transformY(0px);
    }
}

@keyframes lineAnimation {
    0% {
        left:1900px;
        animation-timing-function: ease-in-out;
    }
    30% {
        animation-delay: 800ms;
        animation-duration: 5s;
        left:1800px;
        animation-timing-function: ease-in-out;
    }
    50% {
        left: -50px;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
    }

    70% {
        left: 1800px;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
    }
    80% {
        left: 1800px;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
    }

    100% {
        left: 960px;
        animation-timing-function: ease-out;
    }
}

#icons {
    z-index: 1;
    position: absolute;
    top: 37px;
    align-content: center;
    left: 1130px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    fill: #f9b8f5;
    overflow: visible;
}